.textarea {
    height: 400px;
    resize: none;
    background-color: rgb(255, 253, 250);
}

.border.rounded.p-3 ul,
.border.rounded.p-3 ol {
  display: table;
  padding-left: 0;
  margin: 0 auto 1em auto;
  list-style-position: outside;
}
